a.custom-link{
    text-decoration: underline;
    background-image : url(icon_link.png); /*背景画像のパス*/
    background-repeat : no-repeat; /*背景画像の繰り返し*/
    background-position : center right; /*背景画像の配置*/
    padding-right: 18px; /*背景画像を入れる余白をつくる*/
  }

  .roll_result {
    text-shadow: 1px 1px 2px silver;
    font-weight: bold;
  }